# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
#[*]
#charset = utf-8
#trim_trailing_whitespace = true
#end_of_line = lf
#insert_final_newline = true

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[CMakeLists.txt]
indent_style = space
indent_size = 4
max_line_length = 120

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
indent_size = 4
#cpp_indent_case_contents_when_block = true
#cpp_new_line_before_open_brace_namespace = same_line

[*.md]
trim_trailing_whitespace = false

[README.md]
max_line_length = 120
